<h1>Pictures!</h1>
<%= link_to("New Picture", pictures_new_path) %>

<% @most_recent_pictures.each do |new_picture| %>
<%= render 'display_picture', picture: new_picture %>
<% end %>

<h3>Highlights from the past</h3>
<% @older_than_month.each do |old_picture| %>
  <%= render 'display_picture', picture: old_picture %>
<% end %>

<h3>View images by year</h3>
<% @years.each do |year| %>
  <%= link_to("#{ year }", pictures_year_path(year)) %>
<% end %>
