<h1>Pictures!</h1>
<%= link_to("New Picture", pictures_new_path) %>

<% @most_recent_pictures.each do |picture| %>
  <p> <%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), pictures_show_path(picture.id)) %>
<% end %>
